__pycache__/
.pytest_cache
.DS_Store
node_modules/
.cache/
dist/

ll_env/
fastapi-blog-env/

*.sqlite3
*.log

003_the_ultimate_django_series/storefront/media/
003_the_ultimate_django_series/storefront/static/